
<form action="/" >
    <input type="text" name="site[url]" style="height:50px;width:600px;font-size:2.0em;float:left;" />
    <input type="button" value="Validate" style="height:50px;width:100px;margin-left:20px">
</form>

<ul style="list-style:none" class="sql_injection_results">

</ul>

<%= javascript_include_tag "jquery-1.4.1.min" %>
<%= javascript_include_tag "sql_injection" %>